:root {
    --page-max-width: 1150px;

    --border-thickness: 2px;

    /*colors*/


    --pure-white: hsl(223, 100%, 100%);
    --rich-black: hsl(250, 100%, 12.5%);
    --grey-100: hsl(0, 0%, 98%);
    --grey-200: hsl(223, 18%, 96%);
    --grey-300: hsl(232.5, 8.16%, 61.57%);
    --grey-400: hsl(232.5, 0%, 59%);
    --grey-400-t: hsl(232.5, 0%, 0%, 30%);

    --red-80: hsla(4, 86%, 36%, 1);
    --red-70: hsla(4, 86%, 47%, 1);
    --red-60: hsla(4, 86%, 58%, 1);
    --red-50: hsla(4, 86%, 66%, 1);
    --red-40: hsla(4, 86%, 74%, 1);

    /*font-size*/
    --font-hero: 3.5rem;
    --font-large: 2.5rem;
    --font-medium-2: 1.625rem;
    --font-medium: 1.125rem;
    --font-normal: 1rem;
    --font-small: 0.875rem;
    --font-smaller: 0.625rem;

    /*clamp*/
    --font-heading-clamp: clamp(var(--font-medium-2), 12svw, var(--font-large));
    --page-alignment: clamp(var(--s0), 10svw, var(--s2));

    /*card width*/
    --flex-wrap-card: 1 0 220px;

    /*media query*/
    --media-tablet: 550px;
    --media-desktop: 930px;

    /*mockups image sizes*/

    --mockup-image-width: 767;
    --mockup-image-height: 939;

    --max-inline-size: 55ch;
    --ratio: 1.5;
    --s0: 1rem;
    --measure: 55ch;
    --s-1: calc(var(--s0) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));

    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

}

input[type='radio'] {
    width: 40px;
    height: 40px;
    accent-color: grey;
    outline: revert;
    cursor: pointer;
    border: 0;
    outline: 0;
    outline-offset: 0;
    padding-inline-end: var(--s2);

    transform: translateY(-0.25em) translateX(1.125em);

}

input[type='radio']:focus {
    outline: revert;
    border: 0;
    outline: var(--border-thickness) solid grey;
    outline-offset: 4px;

}

input[type='radio']:hover {
    outline: 3px solid grey;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
